/* CSS Tyylittelyä */

html {
  width: 100%;
  height: auto;
  margin-bottom: 1px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

body {
  background-color: black;
  color: white;
  font-family: TerminalVector;
  height: auto;
}

@font-face {
  font-family: TerminalVector;
  src: url("TerminalVector.eot")/* EOT file for IE */
}

@font-face {
  font-family: TerminalVector;
  src: url("TerminalVector.ttf")/* TTF file for CSS3 browsers */
}

.topright {
  position: absolute;
  top: 6px;
  right: 16px;
}

@media screen and (max-width: 768px) {

    .topright {
      /* visibility: hidden; */
      position: sticky;
    }
    table {
      margin-left: 10%;
      width: 100%;
    }
    td {
      display: block;
      margin: 0px auto;
      width: 100%;
      padding-top: 3px;
      padding-bottom: 3px;
    }



}

#ylin {
  background-color: black;
  width: 100%;
}

.alavalikko {
  color: white;
  width: 100%;
  margin-left: -10px;
}

.alavalikko-100 {
  background-color: blue;
  text-align: center;
}

.alavalikko-200 {
  background-color: red;
  text-align: center;
}

.alavalikko-300 {
  background-color: purple;
  text-align: center;
}

.alavalikko-400 {
  background-color: #CC9900;
  text-align: center;
}

.alavalikko-500 {
  background-color: green;
  text-align: center;
}

.alavalikko-600 {
  background-color: #FF6F00;
  text-align: center;
}

.alavalikko-700 {
  background-color: #FF6F00;
  text-align: center;
}

.ylabanneriSaska {
  width: 100%;
  color: white;
  height: auto;
  padding-left: 5px;
  font-size: xx-large;
  position: static;
}

.ylabanneri-100 {
  background-color: blue;

}

.ylabanneri-200 {
  background-color: red;
}

.ylabanneri-300 {
  background-color: purple;
  width: 100%;
  color: white;
  height: 20
}

.ylabanneri-400 {
  background-color: #CC9900;
  width: 100%;
  color: white;
  height: 20
}

.ylabanneri-500 {
  background-color: green;
  width: 100%;
  color: white;
  height: 20
}

.ylabanneri-600 {
  background-color: pink;
  width: 100%;
  color: white;
  height: 20
}

.ylabanneri-700 {
  background-color: #FF6F00;
  width: 100%;
  color: white;
  height: 20
}


.selostus {
  margin-left: 4em;
  font-size: smaller;
  line-height: 1.6;
  /* font-style: oblique; */
  display: none;

}

.leipateksti {
  margin-left: 4em;
  font-size: smaller;
  font-style: oblique;
}

.teksticvBannerissa {
  background-color: white;
  width: 100%;
  text-align: left;
  height: auto;
  padding-left: 5px;
  position: static;
} 

.etusivuTeksticv {
  color: blue;
}

.uutinen-100 {
  color: white;
}

.uutinen-200 {
  color: red;
}

.uutinen-300 {
  color: purple;
}

.uutinen-400 {
  color: #CC9900;
}

.uutinen-500 {
  color: green;
}

.uutinen-600 {
  color: pink;
}

.uutinen-700 {
  color: #FF6F00;
}

#sivu-100 {
  display: block;
}

#sivu-200 {
  display: none;
}

#sivu-300 {
  display: none;
}

#sivu-400 {
  display: none;
}

#sivu-500 {
  display: none;
}

#sivu-600 {
  display: none;
}

#sivu-700 {
  display: none;
}

/* Taidot-sivun taulukot oikeille kohille */

.vasen {
  float: left;
  width: 33%;
  padding-left: 1%;
}

.oikea {
  
}